
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flowdox СУПД</title>
    <link href="/public/css/normalize.css" rel="stylesheet">
    <link href="/public/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
</head>
<body class="home_page">
<header class="header montserrat_font" id="header">
    <div class="header_container">
        <div class="nav">
            <a href="" class="logo">
                <img src="public/css/img/logo.png" alt="СУПД">
                Flowdox СУПД
            </a>
            <ul class="menu">
                <li class="menu__item">
                    <a href="#project_control_block block">О системе</a>
                </li>
                <li class="menu__item">
                    <a href="#about-us-block">О компании</a>
                </li>
                <li class="menu__item" style="margin-right: 0">
                    <a href="#demoForm">Контакты</a>
                </li>
            </ul>
            <a href="#demoForm" class="btn btn_header">
                Заказать звонок
            </a>
        </div>
    </div>
</header>
<section class="section">
    <div class="section_container">
        <div class="main_screen block">
            <img class="mac" src="./public/css/img/Мукбук%20PNG.png">
            <!--<img class=mac&#45;&#45;screen"" src="./public/css/img/Обзор портфеля.png" >-->
            <div class="main_screen__text_container">
                <div class="main_screen__text_container--text">
                    <h1 class="montserrat_font">Flowdox - лучшее решение для вашего бизнеса</h1>
                    <p class="sitka_font inscription">Начните использовать прямо сейчас!</p>
                </div>
                <a href="#demoForm" class="btn btn_block_welcome montserrat_font">Получить демонстрацию</a>
            </div>
        </div>
        <div class="project_control_block block" id="project_control_block block">
            <h2 class="">Новый уровень управления проектами</h2>
            <div class="leadership">
                <div class="description project_control_description">
                    <div class="annotation annotation_blue">
                        <div class="icon project_control_description_icon project_control_description_icon_blue"><img src="public/css/img/Сроки.png"></div>
                    <h3>Избавьтесь от<br>срыва сроков</h3>
                    <p>Завершайте проекты вовремя -<br>повышайте профессионализм в<br>глазах клиентов</p>
                    </div>
                    <div class="annotation annotation_orange">
                        <div class="icon project_control_description_icon project_control_description_icon_orange"><img src="public/css/img/Перерасходы.png"></div>
                    <h3>Скажите<br>перерасходу - нет!</h3>
                    <p>Сэкономьте бюджет компании в<br>несколько раз!</p>
                    </div>
                    <div class="annotation annotation_pink">
                        <div class="icon project_control_description_icon project_control_description_icon_pink"><img src="public/css/img/Решение.png"></div>
                        <h3>Лучшее<br>online - решение</h3>
                        <p>Простое и эффективное<br>управление проектами, где бы<br> вы не находились!</p>
                    </div>
                    <div class="annotation annotation_purple">
                        <div class=" icon project_control_description_icon project_control_description_icon_purple"><img src="public/css/img/Контроль.png"></div>
                        <h3>Лучшее<br>online - решение</h3>
                        <p>Простое и эффективное<br>управление проектами, где бы<br> вы не находились!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="powerful_tool_block block">
            <h2 class="">Мощный инструмент для вас</h2>
            <div class="leadership">
                <div class="description powerful_tool_description">
                    <div class="annotation powerful_tool_annotation">
                        <div class="icon powerful_tool_block_icon">
                            <img src="public/css/img/Проект.png"></div>
                            <p>Управляйте <br> проектами</p>

                    </div>
                    <div class="annotation powerful_tool_annotation">
                        <div class="icon powerful_tool_block_icon">
                            <img src="public/css/img/Портфель.png"></div>
                            <p>Создавайте <br>портфели<br> проектов</p>

                    </div>
                    <div class="annotation powerful_tool_annotation">
                        <div class="icon powerful_tool_block_icon">
                            <img src="public/css/img/Стоимость.png"></div>
                            <p>Устанавливайте<br> стоимость</p>

                    </div>
                    <div class="annotation powerful_tool_annotation">
                        <div class="icon powerful_tool_block_icon">
                            <img src="public/css/img/Ресурсы.png"></div>
                            <p>Распределяйте <br>трудовые <br>ресурсы</p>

                    </div>
                    <div class="annotation powerful_tool_annotation">
                        <div class="icon powerful_tool_block_icon">
                            <img src="public/css/img/Регулируйте_сроки.png"></div>
                            <p>Регулируйте<br> сроки</p>
                    </div>
                    <div class="annotation powerful_tool_annotation">
                        <div class="icon powerful_tool_block_icon">
                            <img src="public/css/img/Проекты.png"></div>
                            <p>Управляйте <br>содержанием <br>проектов</p>

                    </div>
                    <div class="annotation powerful_tool_annotation">
                        <div class="icon powerful_tool_block_icon">
                            <img src="public/css/img/Качество.png"></div>
                            <p>Контролируйте<br> качество</p>

                    </div>
                    <div class="annotation powerful_tool_annotation">
                        <div class="icon powerful_tool_block_icon">
                            <img src="public/css/img/Коммуникации.png">
                        </div>
                            <p>Поддерживайте<br> коммуникации</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="steps_to_success_block block">
            <h2 class="steps_to_success_block__head">6 шагов к успеху вашего бизнеса</h2>
            <div class="leadership">
                <div class="description success_description">
                    <div class="left_description">
                        <div class="annotation success_annotation success_annotation_blue">
                            <h3>Свяжитесь с нами</h3>
                        </div>
                        <div class="annotation success_annotation success_annotation_dark_blue">
                            <h3>Мы обследуем<br>бизнес-процессы<br>Вашей компании</h3>
                        </div>
                        <div class="annotation success_annotation success_annotation_purple">
                            <h3>Сформируем FLOWDOX<br>под Ваши требования</h3>
                        </div>
                    </div>
                    <div class="right_description">
                        <div class="annotation success_annotation success_annotation_dark_blue">
                            <h3>Установим систему на<br> компьютеры Ваших<br> специалистов</h3>
                        </div>
                        <div class="annotation success_annotation success_annotation_pink">
                            <h3>Обучим ваших<br>сотрудников</h3>
                        </div>
                        <div class="annotation success_annotation success_annotation_orange">
                            <h3>положительный<br> Результат уже через<br> месяц использования</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block_free_service block">
            <div class="block_free_service__try-free">
                <img class="logo_2" src="public/css/img/image.png">
                <h2 class="">Попробуй бесплатно!</h2>
                <p class="annotation">14-дневный доступ ко всем функциям супд бесплатно</p>
                <a href="#demoForm" class="btn try_for_free_btn">Получить демонстрацию</a>
            </div>
            <div class="block_free_service__comment">
                <div class="comment">
                    <div class="comment--header">
                        <h3>
                            Нестеренко Дмитрий
                        </h3>
                        <p>
                            Директор компании “WorldGlobalProject”
                        </p>
                        <img src="./../public/css/img/ava1.png">
                    </div>
                    <div class="comment--body">
                        <article>
                            <span>Перерасход компании сократился в 3 раза!</span>
                            До использования Flowdox огромная часть бюджета компании уходила
                            на внеплановые работы и перерасход бюджета компании был неизбежен.
                            Более того, сроки исполнения проектов приходилось переносить,
                            что влекло за собой денежные убытки. С использованием Flowdox
                            наша компания забыла это как страшный сон, а перерасход компании
                            сократился более чем в 3 раза!
                        </article>
                        <div class="comment--body__statistic">
                            <h4>
                                Средний пререрасход бюджета по проекту
                            </h4>
                            <div class="comment--body__statistic--body">
                                <div>
                                    <span id="statistic--before"></span>
                                    <div class="statistic--before__description">
                                        <div class="description__header"></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div>
                                    <span id="statistic--after"></span>
                                    <div class="statistic--after__description">
                                        <div class="description__header"></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="about-us-block" class="block">
            <h2 class="block-head">О нас</h2>
            <div id="about-us-block-content">
                <div class="a-u-b-c-element">
                    <img src="./public/css/img/12.png" class="twelf">
                </div>
                <div class="a-u-b-c-element" id="second">
                    <h2>
                        Лет на рынке
                        разработки
                    </h2>
                    <p>
                        С 2005 года мы занимаемся созданием
                        высоконагруженных информационных систем
                        разного масштаба и сложности, разрабатываем
                        веб- и мобильные приложения, а также осуществляем
                        интеграцию компонентов информационных систем.
                    </p>
                </div>
                <div class="a-u-b-c-element" id="achivment-block">
                    <div class="achivment-box montserrat_font">
                        <span>450+</span><br> выполненых <br> проектов
                    </div>
                    <div class="achivment-box montserrat_font">
                        <span>89</span><br> сотрудников<br> в штате
                    </div>
                    <div class="achivment-box montserrat_font">
                        <span>16</span><br> стран
                    </div>
                    <div class="achivment-box montserrat_font">
                        <span>500+</span><br> тысяч<br> пользователей
                    </div>
                </div>
            </div>
            <a href="#demoForm" class="btn about_us_btn">Получить демонстрацию</a>
        </div>
        <div class="know_more_block block">
            <h2>Узнайте больше</h2>
            <p class="annotation">Свяжитесь с нами прямо сейчас!</p>
            <form class="registration_form" action="/" method="post">
                <input type="text" name="name" class="input_name" placeholder="Имя*" required>
                <input type="text" name="company" class="input_company" placeholder="Компания*" required>
                <input type="tel" name="phone" class="input_tel_number" placeholder="Телефон*" required>
                <input type="email" name="email" class="input_email" placeholder="E-mail*" required>
                <textarea name="comment" class="client_answer" placeholder="Опишите свой вопрос или оставьте заявку и мы с Вами свяжемся!*"></textarea>
                <div class="agrement">
                    <input type="checkbox" class="agrement_checkbox" required>
                    <p>Я ознакомлен(а) с правилами <a href="#">политики конфиденциальности</a><br> и даю согласие на <a href="#">обработку персональных данных</a></p>
                </div>
                <button type="submit" class="btn try_for_free_btn">Получить демонстрацию</button>
            </form>
            <a href="#" class="link_img"><img src="img/logo_reestr.png"><h3>входит в единый реестр Российского ПО</h3></a>
            <a name="demoForm"/>
        </div>
    </div>
</section>
</body>
</html>
